body {
    font-family: 'Noto Serif', serif;
}
#container {
    width: 100%;
    margin: 89px auto 0 auto;
    font-size: 20px;
    text-align: center;
    position: relative;
}
#imageContainer {
    background-color: #fff;
    width: 90%;
    height: 255px;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
    text-align: center;
    color: #355561; /*#D92534;*/
}

/* ================ dynamic Content =========== */
.alphabetContent {
    width: 95%;
    margin: 0 auto;
    font-size: 1.5em;
}
.selectedLetter{
    width: 130px;
    height: 85px;
    padding: .2em;
    letter-spacing: 5px;
    background-color: #FFFFCF;
    font-size: 1.9em;
    color: #AD1E2A;
    border: 3px solid #AD1E2A;
}
.letterImage {
    margin-right: .6em;
    height: 225px;   
} 
.letterImage, .displayedLetter {
    display: inline-block;
}

.selectedLetter, .sentence {
    display: block;
    margin: 0 auto;
}
.firstletter {
    color: #AD1E2A;
}
h2.sentence {
    font-weight: normal;
    font-size: 1.6em;
}
.dynamicContent h1 {
    margin-top: 1.5em;    
}
.dynamicContent {
    display: none;
}

/* === alphabet container ==== */
#alphabetContainer {
    background-color: #fff;
    width: 100%;
    margin: 0 0 .5em -2em;
    position: relative;
    padding-top: 1em;
    padding-bottom: 1em;
}
#alphabetContainer div.row {
    display: block;
    margin-bottom: .5em;
}
#alphabetContainer div.row ul{
    width: 100%;
    margin: 0 1% 0 1%;
    display: table;
}
#alphabetContainer div.row ul li.letter {
    list-style: none;
    text-transform: uppercase;
    float: left;
    margin: 1% 1% 0 0;
    width: 6%;
    background-color: #AD1E2A;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    padding-bottom: 50%;
    padding-right: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1%;
      
    
}
.container {
  width: 6%;
  height:90px;
  background-color: white;
  list-style: none;
  display: inline-block;
  margin: 0 1% 1% 0;
}
.circle {
  border-radius: 50%;
  width: 50%;
  padding: 25%;
  background-color: #AD1E2A;
  text-decoration: none;
  margin-left: 1%;
  color: #FFEE8F;
  text-transform: uppercase;
  font-size: 1.4em;
  display: block;
} 
/*
#alphabetContainer div.row ul li.letter a {
    
    color: #FFEE8F;
    font-size: 2.3em;
}
#alphabetContainer div.row ul li.letter:hover {
    background-color: #8B0C08;
}
#alphabetContainer div.row ul li.letter a:hover {
    color: #FFEE7C;
} */

/* =====  Media Queries   ======  */

/*desktop styles*/
@media only screen and (min-width:960px) {
    #mobileAlphabet {
        display: none;
    }
}
@media only screen and (min-width:769px) and (max-width:959px) {
    #mobileAlphabet {
        display: none;
    }
    #alphabetContainer {
        padding-top: 1em;
        padding-bottom: 1em;
    }
    
    /*#alphabetContainer div.row ul{
        width: 100%;
        margin: 0 0 0 -1%;
        display: table;
    }
    #alphabetContainer div.row ul li.letter {
        float: left;
        margin: 1% 1% 0 0;
        width: 6%;
    }
    #alphabetContainer div.row ul li.letter a {
        font-size: 1.75em;        
    } */
    
    .container {
        height:75px;
      }
    .circle {
      font-size: 1.0em;
    } 
}

/*tablet styles*/
@media only screen and (min-width:481px) and (max-width:768px) {
    #mobileAlphabet {
        display: none;
    }
  /*  #alphabetContainer div.row ul{
        width: 100%;
        margin: 0 0 0 -2%;
        display: table;
    }
    #alphabetContainer div.row ul li.letter {
        float: left;
        margin: 1% 1% 0 0;
        width: 6%;
        padding: 0;
    }
    #alphabetContainer div.row ul li.letter a {
        font-size: 1.2em;
    } */
  
    .container {
        height:75px;
      }
    .circle {
      font-size: 0.8em;
    }
    
    #imageContainer {
        height: 175px;
    }
    .alphabetContent {
        width: 95%;
    }
    .letterImage {
        height: 150px;
        margin-right: .5em;
    }
    .selectedLetter{
        width: 100px;
        height: 55px;
        padding: .2em;
        letter-spacing: 5px;
        font-size: 1.2em;
    }
    h1.sentence {
        font-size: 1.2em;
    }
}

/*
 *#imageContainer {
    background-color: #fff;
    width: 90%;
    height: 255px;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
    text-align: center;
    color: #1C7FA6;
}
 *.alphabetContent {
    width: 95%;
    margin: 0 auto;
    font-size: 1.5em;
}
.selectedLetter{
    width: 130px;
    height: 85px;
    padding: .2em;
    letter-spacing: 5px;
    background-color: #FFFFCF;
    font-size: 1.9em;
    color: #D92534;
    border: 3px solid #D92534;
}
.letterImage {
    margin-right: .6em;
    height: 225px;   
} 
.letterImage, .displayedLetter {
    display: inline-block;
}

.selectedLetter, .sentence {
    display: block;
    margin: 0 auto;
}
.firstletter {
    color: #D92534;
}
h1.sentence {
    font-weight: normal;
}
.dynamicContent h1 {
    margin-top: .5em;    
}*/

/*mobile styles*/
@media only screen and (max-width:480px) {
    #alphabetContainer {
        display: none;
    }
    .alphabetContent {
        width: 80%;
        margin: 0 auto;
        font-size: 1.5em;
    }
    #mobileAlphabet {
        position: relative;
        width: 70%;
        margin: 90px auto 40px auto;
        text-align: center;
    }
    #mobileAlphabet label {
        margin-right: 10px;
        font-size: 1.3em;
        vertical-align: middle;
    }
    #mobileAlphabet select {
        width: auto;
        margin: .5em auto;
    }

    .dynamicContent {
        font-size: .9em;
    }

    .selectedLetter {
        width: 85px;
        height: 53px;
        padding: .1em;
        letter-spacing: 5px;
        text-align: center;
        margin: 10px auto 0 auto;
        font-size: 1.5em;
    }

    .letterImage, .sentence {
        display: block;
        vertical-align: middle;
        text-align: center;
    }
    .letterImage {
        margin: 20px auto 2px auto;
        height: 150px;
    }
    h1.sentence {
        margin-top: 0em;
    }

}




