header {
    position:absolute;
    height:89px;
    display:block;
    padding:0 20px;
    top:0px;
    left:0px;
    right:0px;
    overflow-y:hidden;
    background:#fff;
    background:rgba(255, 255, 255, 0.97);
    -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.2) ;
    -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.2) ;
    box-shadow:0px 1px 2px rgba(0, 0, 0, 0.2) ;
    
}
header ul {
    float:right;
    height:89px;
}
header ul li {
    float:left;
    margin-left:46px;
    list-style: none;
}
header ul li a {
	text-decoration:none;
	display:block;
	line-height:102px;
	height:89px;
	font-family:"proxima_nova_semibold",  'Helvetica Neue',  Arial,  Helvetica,  sans-serif;
	font-size:100%;
	color:#493e45;
	position:relative;
}
header ul li a span {
	display:block;
	position:absolute;
	left:0px;
	top:32px;
	height:1px;
	width:100%;
	border-top:3px solid #ed1165;
	opacity:0;
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=("0" * 100));
	filter:alpha(opacity = ("0" * 100));
	-webkit-transition:all 0.5s ease 0s;
	-moz-transition:all 0.5s ease 0s;
	-o-transition:all 0.5s ease 0s;
	-ms-transition:all 0.5s ease 0s;
	transition:all 0.5s ease 0s;
}

header ul li a:hover > span {
	opacity:1;
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=("1" * 100));
	filter:alpha(opacity = ("1" * 100));
}

header ul li a.active > span {
	opacity:1;
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=("1" * 100));
	filter:alpha(opacity = ("1" * 100));
}
/*====================== */

#container {
    width: 960px;
    margin: 150px auto 0 auto;
}

#container div {
    float: left;
    margin: 30px;
}


.box {
    float: left;
    background: #2555ff;
    width: 150px;
    height: 150px;
    padding-left: 2em;
    padding-top: 1em; 
}


.square {
	width: 100px;
	height: 100px;
	background: red;
}

.rectangle {
	width: 200px;
	height: 100px;
	background: red;
}

.circle {
	width: 100px;
	height: 100px;
	background: red;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.oval {
	width: 200px;
	height: 100px;
	background: red;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
} /* use percentages instead ? */

.triangle-up {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid red;
}

.trapezoid {
	border-bottom: 100px solid red;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 100px;
}


.star-five {
   margin: 50px 0;
   position: relative;
   display: block;
   color: red;
   width: 0px;
   height: 0px;
   border-right:  70px solid transparent; /* transparent */
   border-bottom: 55px  solid #f00; /* red */
   border-left:   95px solid transparent; /* transparent */
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
}
.star-five:before {
   border-bottom: 57px solid #f00; /* 80 red*/
   border-left: 29px solid transparent; /* 30 transparent */
   border-right: 30px solid transparent; /* 30 transparent */
   position: absolute;
   height: 0;
   width: 0;
   top: -35px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
.star-five:after {
   position: absolute;
   display: block;
   color: red;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 92px solid transparent; /* 100 transparent */
   border-bottom: 55px solid #f00; /* 70 red */
   border-left: 85px solid transparent; /* 100 transparent */
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}
.pentagon {
    position: relative;
    width: 54px;
    border-width: 50px 18px 0;
    border-style: solid;
    border-color: red transparent;
}
.pentagon:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: -85px;
    left: -18px;
    border-width: 0 45px 35px;
    border-style: solid;
    border-color: transparent transparent red;
}

.octagon {
	width: 100px;
	height: 100px;
	background: red;
	position: relative;
}

.octagon:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 29px solid red;
	border-left: 29px solid #eee;
	border-right: 29px solid #eee;
	width: 42px;
	height: 0;
}

.octagon:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 29px solid red;
	border-left: 29px solid #eee;
	border-right: 29px solid #eee;
	width: 42px;
	height: 0;
}

.heart {
    position: relative;
    width: 100px;
    height: 90px;
}
.heart:before,
.heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
.heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}


.diamond {
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-bottom-color: red;
	position: relative;
	top: -50px;
}
.diamond:after {
	content: '';
	position: absolute;
	left: -50px;
	top: 50px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-top-color: red;
}


