html, body, div {
    margin: 0;
    padding: 0;
}
header {
    position:absolute;
    height:89px;
    display:block;
    padding:0 20px;
    top:0px;
    left:0px;
    right:0px;
    overflow-y:hidden;
    font-family:"proxima_nova_semibold",  'Helvetica Neue',  Arial,  Helvetica,  sans-serif;
    font-size: 16px;
    background:#fff;
    background:rgba(255, 255, 255, 0.97);
    -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.2) ;
    -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.2) ;
	box-shadow:0px 1px 2px rgba(0, 0, 0, 0.2) ;
    z-index: 1000;
}
header h1 {
    font-size: 1.5em;
    font-weight: normal;
    float: left;
    text-transform: uppercase;
    line-height:30px;
    color: #b0f;
    opacity: .5;
}
header ul {
    float:right;
    height:89px;
}
/*header ul li {
    float:left;
    margin-left:46px;
    list-style: none;
}*/

header ul li {
    float: left;
    margin-left: 0px;
    list-style: none;
}


header ul li a.active, header ul li a:hover {
    border: 1px solid #ede;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    background-color: #ededed;
}


header ul li a {
    text-decoration:none;
    display:block;
    line-height:70px;
    height:89px;
    font-size:1em;
    color:#493e45;
    position:relative;
    padding-left: 1.2em;
    padding-right: 1.2em;
}
/*header ul li a span {
    display:block;
    position:absolute;
    left:0px;
    top:32px;
    height:1px;
    width:100%;
    border-top:3px solid #B365A2;
    opacity:0;
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=("0" * 100));
    filter:alpha(opacity = ("0" * 100));
    -webkit-transition:all 0.5s ease 0s;
    -moz-transition:all 0.5s ease 0s;
    -o-transition:all 0.5s ease 0s;
    -ms-transition:all 0.5s ease 0s;
    transition:all 0.5s ease 0s;
}
header ul li a:hover > span {
    opacity:1;
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=("1" * 100));
    filter:alpha(opacity = ("1" * 100));
}
header ul li a.active > span {
    opacity:1;
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=("1" * 100));
    filter:alpha(opacity = ("1" * 100));
}
*/

#menu-icon {
	display: none;
	width: 40px;
	height: 40px;
	background: #4C8FEC url(../images/menu-icon.png) center;
	position: absolute;
	right: 0;
}
a:hover#menu-icon {
	background-color: #444;
	border-radius: 4px 4px 0 0;
}

/* =====  Media Queries   ======  */

@media only screen and (min-width:769px) and (max-width:959px) {
    #menu-icon {
	display: none;
    }
    header {
	overflow-y: visible;
    }
    header ul li a {
	height:71px;
	font-size:1em;
	padding-left: 1em;
	padding-right: 1em;
    } 
}

@media only screen and (min-width:596px) and (max-width:768px) {
    #menu-icon {
	display: none;
    }
    header {
	overflow-y: visible;
    }
    header h1 {
	font-size: .95em;
    }
    header ul li a {
	height:71px;
	font-size:.9em;
	padding-left: .8em;
	padding-right: .8em;
    }
}

@media only screen and (min-width:481px) and (max-width:595px) {
    #menu-icon {
	display: none;
    }
    header {
	overflow-y: visible;
    }
    header h1 {
	font-size: .6em;
    }
    header ul li a {
	height:71px;
	font-size:.8em;
	padding-left: .8em;
	padding-right: .4em;
    }
}

@media only screen and (max-width:480px) {

    header {
	overflow-y: visible;
    }
    #menu-icon {
	display:inline-block;
    }
    header ul li {
	margin-left: 0;
	font-size: 1.5em;
	
    }
    nav ul, nav:active ul { 
	display: none;
	position: absolute;
	padding: 20px;
	background: #333;
	border: 5px solid #444;
	right: 0px;
	top: 24px;
	width: 45%;
	height: auto;
	border-radius: 4px 0 4px 4px;
    }
    
    header ul li a.active, header ul li a:hover {
	border: 0;
	border-top-left-radius: 0%;
	border-top-right-radius: 0%;
	background-color: #cbcbcb;
	color: #333;
    }

    
    nav li {
	text-align: center;
	width: 100%;
	padding: 10px 0;
	margin: 0;
	border-bottom: 1px solid #555;
    }
    nav li:last-child {
	border-bottom: none;
    }
    nav:hover ul {
	display: block;
    }

    header ul li a {
	height:45px;
	line-height: 45px;
	color: #fff;
    }
    header ul li a span {
	display: none; 
    }

}

