@charset "UTF-8";
/*
 *top container - background-color: #A801E5
 *bottom container - background-color:
 */


/* Global and Large Styles */
html, body {
	margin: 0;
	padding: 0;
	vertical-align:baseline;
	font-family:"proxima_nova_bold",  'Helvetica Neue',  Arial,  Helvetica,  sans-serif;
	font-size: 20px;
}
#wrapper {
	position: relative;
	width: 100%;
	background-color: #F2DCFA;
}
.container {
	width: 100%;
	height: 834px;
	margin: 0 auto 0 auto;
	position: relative;
	background: #A801E5 url('../images/IMG_6179x.jpg') no-repeat top left; 
	background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	
}
.page_banner {
	width: 100%;
	height: 800px;
	overflow:hidden;
	text-align: center;
	position:relative;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	opacity: .3;	
	background-color: #b0f;
	top: -800px;
}

#banner_header {
	width: 100%;
	text-align: center;
	margin: 0 auto 0 auto;
	top: -64em;
	z-index: 19;
	position: relative;
	color: #fff;
	text-shadow: 1px 1px 2px #000;
}
#banner_header h1 {
	font-size: 3em;
}

#bottomContainer {
	width: 95%;
	margin: -44em auto 0 auto;
	padding: 5em 0 9em 0;
	position:relative; 
}

#bottomContainer .box_container { width: 25%; float: left; background-position: center; }

#bottomContainer .box_container .content {
    padding: 2em;
    margin-top: 1.5em;
    text-align: center;
    border-radius: 50%;
    /* to keep circle ratio */
    width: 65%;
    height: 2em;
    padding-bottom: 65%;
    position: relative;
    color: white;
}

.caption {
	font-size:2.2em;
	position:relative;
	display: none;
	text-align: center;
	color: #6B5D70;
	text-shadow: 1px 1px 1px #FFFBEF;
	bottom: 4em;
	right: 0.4em
	
}
a {
	text-decoration: none;
}

#bottomContainer .box_container { display: none; padding: .2em 0 1em 0; }

#bottomContainer .box_container #alphabet { background: url('../images/letters10001.jpg') no-repeat -68px; }
#bottomContainer .box_container #numbers { background: url('../images/numbers10002.jpg') no-repeat -66px -1px; } 
#bottomContainer .box_container #colors { background: url('../images/crayons10001.jpg') no-repeat -62px -7px; }
#bottomContainer .box_container #animals { background: url('../images/monkey1.jpg') no-repeat -152px -59px; }

.clear-fix { clear: both; line-height: 1px; }







/* Desktops and laptops ----------- */
@media only screen and (min-width:1224px) {
	.container {
		background: #A801E5 url('../images/IMG_6179x1.jpg') no-repeat top left; 
		height: 710px; /* 1360 x 710 */
		background-size: cover;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
	}
}

@media only screen and (min-width:1025px) and (max-width:1224px) {
	.container {
		background: #A801E5 url('../images/IMG_6179x2.jpg') no-repeat top left; /* 1224 x 646 */
		height: 639px; /* 1224 x 639 */
		background-size: cover;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
	}
	#banner_header {
		top: -60em;
	}
	#banner_header h1 {
		font-size: 2.7em;
	}
	#bottomContainer .box_container #alphabet { background: url('../images/letters100012.jpg') no-repeat -54px; }
	#bottomContainer .box_container #numbers { background: url('../images/numbers100022.jpg') no-repeat -53px -1px; } 
	#bottomContainer .box_container #colors { background: url('../images/crayons100012.jpg') no-repeat -43px 0px; }
	#bottomContainer .box_container #animals { background: url('../images/monkey12.jpg') no-repeat -80px 0px; }
}

/* Medium Styles */

@media only screen and (min-width:768px) and (max-width:1024px) {
	.container {
		height: 535px; 
		background: #A801E5 url('../images/IMG_6179x3.jpg') no-repeat top left; /* 1024 x 535 */
		background-size: cover;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
	}
	#banner_header {
		top: -57em;
	}
	#banner_header h1 {
		font-size: 2.2em;
	}
	
	#bottomContainer .box_container .content {
		width: 50%;
		padding-bottom: 50%;
	}
	.caption {
		font-size:1.7em;
		bottom: 3.6em;
		right: 0.5em
	
	}
}

@media only screen and (min-width:481px) and (max-width:767px) {
	.container {
	height: 401px; 
	background: #A801E5 url('../images/IMG_6179x4.jpg') no-repeat top left; /* 767 x 401 */
	background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	}
	#banner_header {
		top: -55em;
	}
	#banner_header h1 {
		font-size: 2em;
	}
	#bottomContainer {
		padding: .2em 0 1em 0;
		width: 90%;
		
	}
	#bottomContainer .box_container{
		width: 48%;
		float: none;
		display: inline-block;
		margin: 0 auto;
		position: relative;
	}
	#bottomContainer .box_container .content {
		width: 48%;
		padding-bottom: 48%;
	}
	.caption {
		font-size:1.6em;
		bottom: 3.3em;
		right: 0.1em
	}
	/*
	 *#bottomContainer {
		padding: .5em 0 1em 0;
	}
	#bottomContainer .box_container{
		width: 80%;
		float: none;
		display: block;
		margin: 0 auto;
	}
	#bottomContainer .box_container .content {
		width: 70%;
		padding-bottom: 70%;
		margin-top: .5em;
	}
	
	*/
	
}


 /* Small Styles  */
@media only screen and (min-width:321px) and (max-width:480px) {
	.container {
	height: 251px;  
	background: #A801E5 url('../images/IMG_6179x5.jpg') no-repeat top left; /* 480 x 251 */
	
	}
	#banner_header {
		top: -50em;
	}
	#banner_header h1 {
		font-size: 1.6em;
	}
	#banner_header p {
		font-size: .6em;
	}
	#bottomContainer {
		padding: .5em 0 1em 0;
	}
	#bottomContainer .box_container{
		width: 80%;
		float: none;
		display: block;
		margin: 0 auto;
	}
	#bottomContainer .box_container .content {
		width: 70%;
		padding-bottom: 70%;
		margin-top: .5em;
	}
	.caption {
		font-size:1.6em;
		bottom: 4.5em;
		right: 0.1em
	}
}

@media only screen and (max-width:320px) {
	.container {
	height: 167px;  
	background: #A801E5 url('../images/IMG_6179x6.jpg') no-repeat top left; /* 320x167 */		
	}

	#banner_header {
		top: -47em;
	}
	#banner_header h1 {
		font-size: .9em;
	}
	#banner_header p {
		font-size: .4em;
	}
	#bottomContainer {
		padding: .5em 0 1em 0;
	}
	#bottomContainer .box_container{
		width: 80%;
		float: none;
		display: block;
		margin: 0 auto;
	}
	#bottomContainer .box_container .content {
		width: 70%;
		padding-bottom: 70%;
		margin-top: .5em;
	}
	.caption {
		font-size:1.6em;
		bottom: 4.0em;
		right: -0.3em
	}
}
