body {
    margin: 0;
    padding: 0;
}

#container {
    width: 708px;
    margin: 120px auto 0 auto;
}

h1 {
    color: #355561;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.panel {
        float: left;
        width: 165px;
        height: 165px;
        margin-left: 10px;
        margin-bottom: 10px;
        position: relative;
        font-size: .8em;
        
        -webkit-perspective: 600px;
        -moz-perspective: 600px;
	
}
.panel:last-of-type {
    margin-bottom: 70px;
}

.panel .faceDown {
        float: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 900;
        width: inherit;
        height: inherit;
        border: 1px solid #ccc;
        background: #AB1E2A; 
        text-align: center;

        -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.9);
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.9);
        box-shadow: 0 1px 3px rgba(0,0,0,0.9);

        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;

        -moz-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform-style: preserve-3d;
        -moz-backface-visibility: hidden;

        -o-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
}
.panel.flip .faceDown {
        z-index: 900;
        border-color: #eee;
        background: #333;

        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        
        -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.2);
        -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.2);
        box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.panel .faceUp {
        float: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 800;
        width: inherit;
        height: inherit;
        border: 1px solid #ccc;
	text-align: center;
        text-shadow: 1px  1px 1px rgba(0,0,0,0.6); 
        
        -webkit-transform: rotateY(-180deg);
        -webkit-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;

        -moz-transform: rotateY(-180deg);
        -moz-transform-style: preserve-3d;
        -moz-backface-visibility: hidden;

        -o-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
}

.panel.flip .faceUp {
        z-index: 10;
        background: #eee;

        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);

        box-shadow: 0 5px 8px rgba(0,0,0,0.2);
        -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.2);
        -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
#faceUpImage {
    position:absolute;
    top:0;
    right: 0;
    bottom:0;
    left: 0;
    margin:auto;
}


