
/*====================== */
/*  #B365A2 - dark purple
 *  #FF9EEA
 *  #FFB8F0 - light purple
 *  #68B356 - dark green
 *  #B2FF9E - light green
 *  #FAFFC6 - yellow
 *
 */
#container {
    width: 80%;
    margin: 89px auto 0 auto;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    position: relative;
}
#resultBox {
    width: 100%;
    height: 220px;
    padding-bottom: 2em;
    margin: -1.2em auto .5em auto;
    opacity: .9;
    text-align: center;
    z-index: 3;
    display: none;
    position: absolute;
}
#results {
    color: #000;
    font-family: inherit;
    line-height: 1.5em;
    letter-spacing: 2px;
    padding-top: -.2em;
}
div#results h1 {
    padding-top: 1.5em;
    font-size: 2.25em;
}
div#results h2 {
    font-size: 2em;
}
div#results p {
    font-size: 1.55em;
}

#resultsBorder {
    position: relative;
    width: 35em;
    height: 209px;
    background-color: #fdfdfd;
    border: 1px solid #cccccc;
    box-shadow: 0px 0px 21px -1px #ddd;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 2em 1.5em;
    color: rgba(0,0,0, .8);
    text-shadow: 0 1px 0 #fff;
    line-height: 1.5;
    margin: auto;
}
#container h3 {
    margin: .5em auto .75em auto;
    padding-top: 1em;
    color: #957088;
    font-size: 1.5em;
    letter-spacing: 1px;
}
button {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    padding: 1em;
    background: url('../images/numberGameImages/refresh.png') no-repeat center;
    display: none;
    z-index: 4;
}
#reset {
   position: absolute;
   margin: 195px 0 0 -27px;
}
#imgContainer {
    margin: 7em auto 0 auto;
    height: 240px;
    position: relative;
}
img {
    margin: 0 auto;
    position: relative;
}
.dropIn {
                /* name, duration, timing function (ease), animation delay, repeat (1=once), fill-mode */
    -webkit-animation: drop-in .5s ease-out .75s 1 both;
}
#numberSelection {
    width: 100%;
    height: 4em;
    margin: .5em auto;
}
.number {
    height: .75em;
    width: .75em;
    padding: 1em 1.1em 1.4em 1em;
    color: #FFF7BF;
    border-radius: 5px;
    background-color: #FF7AA8;/*#FF3E98;*/
    text-align: center;
    margin: .75em .5em 0 0;
    display: inline-block;
    -webkit-animation: moveUp .2s ease-in 1 normal forwards;
}

.number:nth-child(2) {
    opacity: 0;
    -webkit-animation-delay: .05s;
}
.number:nth-child(3) {
    opacity: 0;
    -webkit-animation-delay: .1s;
}
.number:nth-child(4) {
    opacity: 0;
    -webkit-animation-delay: .15s;
}
.number:nth-child(5) {
    opacity: 0;
    -webkit-animation-delay: .2s;
}
.number:nth-child(6) {
    opacity: 0;
    -webkit-animation-delay: .25s;
}
.number:nth-child(7) {
    opacity: 0;
    -webkit-animation-delay: .3s;
}
.number:nth-child(8) {
    opacity: 0;
    -webkit-animation-delay: .35s;
}
.number:nth-child(9) {
    opacity: 0;
    -webkit-animation-delay: .4s;
}
.number:nth-child(10) {
    opacity: 0;
    -webkit-animation-delay: .45s;
}

div.number:hover {
    background-color: #B7A2C4;
    cursor: pointer;
}

@-webkit-keyframes drop-in {
	from {
		opacity:0;
		-webkit-transform:translateY(-30px);}
	to{
		opacity: 1;
		-webkit-transform:translateX(0px);
	}
} 

@-webkit-keyframes moveUp {
	from {
		-webkit-transform:translateY(30px);
		opacity:0;
	}	
	to {-webkit-transform:translateY(0px);
	      opacity:1;
	}
}

#score {
    position: absolute;
    top: 8em;
    left: 1em;
    width: 6em;
    font-size: 1.5em;
    text-align: center;
    color: #FF3E98;
    border-radius: 10px;
    background-color: #FFF4BD;
    z-index: 42;
}



